    nav {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 9999;
        width: 100%;
        height: 74px;
        background: rgb(97, 84, 194) none repeat scroll 0% 0%;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px;
    }
    
    body {
        color: rgb(83, 83, 83);
    }
    
    .header {
        max-width: 1120px;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px 40px;
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
    }
    
    .logo {
        display: block;
        width: 166px;
        height: 16px;
        fill: rgb(255, 255, 255);
        font-weight: bolder;
    }
    
    .apply_button {
        width: 155px;
        height: 58px;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        text-align: center;
        color: rgb(104, 93, 197);
        font-weight: bolder;
        font-size: 18px;
        line-height: 24px;
        border-radius: 100px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none;
    }
    
    .apply_button:hover {
        transition: all 100ms ease 0s;
        border: 1px solid rgb(82, 57, 150);
        background-color: rgb(82, 57, 150);
        color: rgb(255, 255, 255);
    }
    
    .section_1 {
        position: relative;
        padding-top: 240px;
        padding-bottom: 110px;
        text-align: center;
    }
    
    .section_1_top_top {
        column-count: 2;
    }
    
    .title {
        font-size: 48px;
        letter-spacing: -0.6px;
        color: rgb(104, 93, 197);
        margin-bottom: 32px;
        padding: 10px;
    }
    
    .section_1_top_left {
        padding-top: 50px;
    }
    
    .section_1_top_right {
        padding-top: 80px;
    }
    
    .section_1_top_bottom {
        column-count: 4;
        padding-bottom: 20px;
        font-size: 18px;
    }
    
    .section_1_top_bottom_title {
        font-size: 20px;
        font-weight: bold;
        color: rgb(104, 93, 197);
        padding: 10px;
    }
    
    .section_1_middle img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 438px;
        height: 438px;
        border-radius: 100%;
        overflow: hidden;
    }
    /*.section_1_middle
    .section_1_middle_img1 {
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px green solid;
    }
    
    .section_1_middle_img2 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px red solid;
    } }*/
    
    .section_1_bottom {
        column-count: 4;
        padding-top: 40px;
    }
    
    .location {
        font-size: 16px;
        color: rgb(104, 93, 197);
        font-weight: bold;
    }
    
    .location p {
        color: rgb(83, 83, 83);
    }
    
    .duration {
        font-size: 16px;
        color: rgb(104, 93, 197);
        font-weight: bold;
    }
    
    .duration p {
        color: rgb(83, 83, 83);
    }
    
    .start_date {
        font-size: 16px;
        color: rgb(104, 93, 197);
        font-weight: bold;
    }
    
    .start_date p {
        color: rgb(83, 83, 83);
    }
    
    .end_date {
        font-size: 16px;
        color: rgb(104, 93, 197);
        font-weight: bold;
    }
    
    .end_date p {
        color: rgb(83, 83, 83);
    }
    
    .section_2 {
        position: relative;
        padding-bottom: 110px;
        text-align: center;
    }
    
    .section_2_middle_top {
        column-count: 2;
    }
    
    .section_2_middle_top img {
        display: inline-block;
        width: 438px;
        height: 438px;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .section_2_middle_top_heading2 {
        font-size: 30px;
        color: rgb(104, 93, 197);
        margin-bottom: 32px;
        padding: 10px;
        font-weight: bold;
    }
    
    .section_2_middle_top_heading2 span {
        font-size: 30px;
        color: rgb(83, 83, 83);
        margin-bottom: 32px;
        padding: 10px;
        font-weight: bold;
    }
    
    .section_2_middle_top_heading2 p {
        font-size: 18px;
        color: rgb(83, 83, 83);
        margin-bottom: 32px;
        padding: 10px;
        font-weight: normal;
    }
    
    .section_3_background img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 32px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .slider {
        position: absolute;
        left: 10%;
        top: 280%;
        width: 90%;
        height: 30vh;
        overflow: hidden;
    }
    
    .slider-inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 200%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1.5rem;
        pointer-events: none;
        transition: 0s ease-in;
    }
    
    .slide {
        height: 100%;
    }
    
    .slide__img {
        width: 100%;
        height: 100%;
    }
    
    .slide__img--1 {
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 0;
        left: 0;
    }
    
    .slide__img--2 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img--3 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img--4 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img--5 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img--6 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img--7 {
        background-color: rgb(255, 255, 255);
    }
    
    .slide__img img {
        position: relative;
        top: 50px;
        left: 30px;
        width: 80px;
        height: 70px;
        border-radius: 100%;
    }
    
    .profile_info {
        background-color: rgb(255, 255, 255);
        padding-bottom: 5px;
        padding-right: 110px;
        text-align: center;
        padding-top: 5px;
        color: rgb(0, 0, 0);
    }
    
    .profile_desc {
        background-color: rgb(255, 255, 255);
        color: rgba(83, 83, 83, 1);
        text-align: center;
        font-weight: light;
    }
    
    .slide__img {
        background-color: rgba(251, 251, 251, 1);
    }
    
    .comments {
        font-size: 18px;
        color: rgba(83, 83, 83, 1);
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: normal;
        text-align: center;
    }
    /*.section_1_middle
    .section_1_middle_img1 {
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px green solid;
    }
    
    .section_1_middle_img2 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px red solid;